USE [master]
GO
/****** Object:  Database [ClinicDB]    Script Date: 3/6/2026 2:41:43 PM ******/
CREATE DATABASE [ClinicDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClinicDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ClinicDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClinicDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ClinicDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClinicDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClinicDB]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 3/6/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 3/6/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Specialty] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 3/6/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 3/6/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Age] [int] NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/6/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](64) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [date] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([Id], [PatientId], [DoctorId], [Date], [Status]) VALUES (1, 1, 1, CAST(N'2025-10-01T10:00:00.000' AS DateTime), N'Scheduled')
INSERT [dbo].[Appointments] ([Id], [PatientId], [DoctorId], [Date], [Status]) VALUES (2, 2, 2, CAST(N'2025-10-01T11:00:00.000' AS DateTime), N'Scheduled')
INSERT [dbo].[Appointments] ([Id], [PatientId], [DoctorId], [Date], [Status]) VALUES (3, 3, 3, CAST(N'2025-10-02T09:00:00.000' AS DateTime), N'Scheduled')
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([Id], [Name], [Specialty], [Phone], [Email]) VALUES (1, N'Dr. Ahmed Yasin', N'Cardiology', N'0781000001', N'ahmed.yasin1@example.com')
INSERT [dbo].[Doctors] ([Id], [Name], [Specialty], [Phone], [Email]) VALUES (2, N'Dr. Lina Saeed', N'Dermatology', N'0781000002', N'lina.saeed1@example.com')
INSERT [dbo].[Doctors] ([Id], [Name], [Specialty], [Phone], [Email]) VALUES (3, N'Dr. Firas Ali', N'Orthopedics', N'0781000003', N'firas.ali1@example.com')
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([Id], [AppointmentId], [Amount], [Date]) VALUES (1, 1, CAST(150.00 AS Decimal(10, 2)), CAST(N'2025-10-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Invoices] ([Id], [AppointmentId], [Amount], [Date]) VALUES (2, 2, CAST(200.00 AS Decimal(10, 2)), CAST(N'2025-10-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Invoices] ([Id], [AppointmentId], [Amount], [Date]) VALUES (3, 3, CAST(250.00 AS Decimal(10, 2)), CAST(N'2025-10-02T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([Id], [Name], [Age], [Phone], [Email], [Address]) VALUES (1, N'Ali Ahmad', 30, N'0771000001', N'ali.ahmad1@example.com', N'Baghdad')
INSERT [dbo].[Patients] ([Id], [Name], [Age], [Phone], [Email], [Address]) VALUES (2, N'Sara Karim', 25, N'0771000002', N'sara.karim1@example.com', N'Basra')
INSERT [dbo].[Patients] ([Id], [Name], [Age], [Phone], [Email], [Address]) VALUES (3, N'Omar Hadi', 40, N'0771000003', N'omar.hadi1@example.com', N'Erbil')
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Doctors]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Patients]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Appointments] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Appointments]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [CHK_AppointmentStatus] CHECK  (([Status]='No-Show' OR [Status]='Rescheduled' OR [Status]='Canceled' OR [Status]='Completed' OR [Status]='Scheduled'))
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [CHK_AppointmentStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddAppointment]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddAppointment]
    @PatientId INT,
    @DoctorId INT,
    @AppointmentDate DATETIME,
    @Status NVARCHAR(50)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Patients WHERE Id = @PatientId)
    BEGIN
        SELECT -1 AS Result; 
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM Doctors WHERE Id = @DoctorId)
    BEGIN
        SELECT -2 AS Result; 
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM Appointments WHERE DoctorId = @DoctorId AND Date = @AppointmentDate)
    BEGIN
        SELECT -3 AS Result;
        RETURN;
    END

    INSERT INTO Appointments (PatientId, DoctorId, Date, Status)
    VALUES (@PatientId, @DoctorId, @AppointmentDate, @Status);

    SELECT SCOPE_IDENTITY() AS Result; 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddDoctor]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_AddDoctor]
@Name nvarchar(100),
@Specialty nvarchar(100),
@Phone nvarchar(20), 
@Email nvarchar(100)
as
begin
insert into Doctors
values(@Name,@Specialty,@Phone,@Email)
select SCOPE_IDENTITY() as result;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_AddInvoice]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_AddInvoice]
@AppointmentId int,
@Amount decimal,
@InvoiceDate datetime
as 
begin
if not exists(select 1 from Appointments where Appointments.Id=@AppointmentId)
begin
select -1; return;
end
if exists(select 1 from Invoices where Invoices.AppointmentId=@AppointmentId and Invoices.Date=@InvoiceDate)
begin
select -2; return;
end
insert into Invoices
values(@AppointmentId,@Amount,@InvoiceDate)
select SCOPE_IDENTITY() as result;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_AddPatient]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_AddPatient]
@Name nvarchar(100), 
@Age int, 
@Phone nvarchar(20), 
@Email nvarchar(100), 
@Address nvarchar(200)
as
begin
insert into Patients
values(@Name,@Age,@Phone,@Email,@Address)
select SCOPE_IDENTITY() as Result;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateUser]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[sp_CreateUser]
    @FullName NVARCHAR(50),
	@Email NVARCHAR(50),
    @PasswordHash NVARCHAR(64),
    @Role nvarchar(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        

        IF EXISTS (
            SELECT 1 
            FROM Users 
            WHERE FullName = @FullName AND Email = @Email
        )
            RETURN -2;

        INSERT INTO Users (FullName, PasswordHash,Email, Role, IsActive, CreatedAt)
        VALUES (@FullName, @PasswordHash,@Email, @Role, 1, GETUTCDATE());

        RETURN SCOPE_IDENTITY();

    END TRY
    BEGIN CATCH
        RETURN -1;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteAppointmentWithCheck]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_DeleteAppointmentWithCheck]
    @Id int
as
begin
    if exists (
        select 1 
        from Invoices 
        where Invoices.AppointmentId = @Id          
    )
    begin
	update Appointments
	set Status='Canceled'
	where Id=@Id
	         select 0 as Result;      
    end
    else
    begin
	delete from Appointments
        where Id = @Id;
		        select @@ROWCOUNT as Result; 
    end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDoctorWithCheck]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_DeleteDoctorWithCheck]
@Id int
as
begin
if exists ( select 1 from Appointments where DoctorId = @Id )
begin select 0 as Result; 
end else
begin delete from Doctors where Id = @Id; select @@ROWCOUNT as Result; 
end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteInvoice]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_DeleteInvoice]
@Id int 
as
begin
delete from Invoices
where Invoices.Id=@Id;
select @@ROWCOUNT as result
end
GO
/****** Object:  StoredProcedure [dbo].[sp_DeletePatientWithCheck]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_DeletePatientWithCheck]
    @Id int
as
begin
    if exists (
        select 1 
        from Appointments 
        where PatientId = @Id           
    )
    begin
        select 0 as Result; 
    end
    else
    begin
        delete from Patients
        where Id = @Id;

        select @@ROWCOUNT as Result; 
    end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteUser]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[sp_DeleteUser]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Users WHERE id = @UserId)
            RETURN -2; 
        IF EXISTS (SELECT 1 FROM Users WHERE id = @UserId AND IsActive = 0)
            RETURN -3; 
        UPDATE Users
        SET IsActive = 0
        WHERE id = @UserId;

        RETURN 1; 

    END TRY
    BEGIN CATCH
        RETURN -1;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FindAppointmentById]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_FindAppointmentById]
@Id int
as 
begin
select *from Appointments
where Appointments.Id=@Id
end
GO
/****** Object:  StoredProcedure [dbo].[sp_FindDoctorById]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_FindDoctorById]
@Id int
as 
begin
select *from Doctors
where Doctors.Id=@Id
end
GO
/****** Object:  StoredProcedure [dbo].[sp_FindInvoiceById]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_FindInvoiceById]
@Id int
as 
begin
select *from Invoices
where Invoices.Id=@Id
end
GO
/****** Object:  StoredProcedure [dbo].[sp_FindPatientById]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_FindPatientById]
@Id int
as 
begin
select *from Patients
where Patients.Id=@Id
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetAllAppointments]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Sp_GetAllAppointments]
as
begin
select*from Appointments;
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetAllDoctors]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Sp_GetAllDoctors]
as
begin
select*from Doctors;
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetAllInvoices]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Sp_GetAllInvoices]
as
begin
select*from Invoices;
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetAllPatients]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Sp_GetAllPatients]
as
begin
select*from Patients;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllUsers]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  PROCEDURE [dbo].[sp_GetAllUsers]
AS
BEGIN

        SELECT 
            Id,
            FullName,
			Email,
            Role,
            IsActive,
          CreatedAt
        FROM Users
        ORDER BY Users.CreatedAt DESC;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserByEmail]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  PROCEDURE [dbo].[sp_GetUserByEmail]
    @Email nvarchar(50)
AS
BEGIN
   

        SELECT 
           Id,
            FullName,
			Email,
           Role,
            IsActive,
            CreatedAt
        FROM Users 
        WHERE Email = @Email;

  
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserById]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  PROCEDURE [dbo].[sp_GetUserById]
    @UserId INT
AS
BEGIN
   

        SELECT 
            Id,
            FullName,
			Email,
           Role,
            IsActive,
            CreatedAt
        FROM Users 
        WHERE Id = @UserId;

  
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAppointment]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateAppointment]
    @Id INT,
    @PatientId INT,
    @DoctorId INT,
    @AppointmentDate DATETIME,
    @Status NVARCHAR(50)
AS
BEGIN
   
    IF NOT EXISTS (SELECT 1 FROM Patients WHERE Id = @PatientId)
    BEGIN
        SELECT -1; RETURN;
    END
    IF NOT EXISTS (SELECT 1 FROM Doctors WHERE Id = @DoctorId)
    BEGIN
        SELECT -2; RETURN;
    END

    IF EXISTS (
        SELECT 1 FROM Appointments 
        WHERE DoctorId = @DoctorId AND Date = @AppointmentDate AND Id <> @Id
    )
    BEGIN
        SELECT -3; RETURN;
    END

    UPDATE Appointments
    SET PatientId = @PatientId,
        DoctorId = @DoctorId,
        Date = @AppointmentDate,
        Status = @Status
    WHERE Id = @Id;

    SELECT @@ROWCOUNT AS RESULT ; 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDoctor]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_UpdateDoctor]
@Id int, 
@Name nvarchar(100),
@Specialty nvarchar(100),
@Phone nvarchar(20), 
@Email nvarchar(100)
as
begin
update Doctors
set Name=@Name,Email=@Email,Specialty=@Specialty,Phone=@Phone
where Doctors.Id=@Id;
SELECT @@ROWCOUNT AS RowsAffected;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePatient]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_UpdatePatient]
@Id int, 
@Name nvarchar(100),
@Age int,
@Phone nvarchar(20), 
@Email nvarchar(100), 
@Address nvarchar(200)
as
begin
update Patients
set Name=@Name,Email=@Email,Address=@Address,Phone=@Phone,Age=@Age 
where Patients.Id=@Id;
SELECT @@ROWCOUNT AS RowsAffected;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUser]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[sp_UpdateUser]
    @UserId INT,
    @Username NVARCHAR(50),
	@Email NVARCHAR(50),
    @Password NVARCHAR(255),
    @Role NVARCHAR(50)
	AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Users WHERE Id = @UserId)
            RETURN -2;

       

        IF EXISTS (
            SELECT 1 
            FROM Users 
            WHERE Id <> @UserId
              AND FullName = @Username
              AND email = @Email
        )
            RETURN -4;

        UPDATE Users
        SET FullName = @Username,
            PasswordHash = @Password,
		    Email = @Email,
            Role= @Role           
        WHERE Id = @UserId;

        RETURN 1;

    END TRY
    BEGIN CATCH
        RETURN -1;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateInvoice]    Script Date: 3/6/2026 2:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UpdateInvoice]
@Id int,
@AppointmentId int,
@Amount decimal,
@InvoiceDate datetime
as
begin
if not exists(select 1 from Appointments where Appointments.Id=@id)
begin
select -1 ;return;
end
if  exists(select 1 from Invoices where Invoices.Date=@InvoiceDate and Invoices.AppointmentId=@AppointmentId and Invoices.Id<>@Id)
begin
select -2 ;return;
end
update Invoices 
set   AppointmentId=@AppointmentId,Amount=@Amount,Date=@InvoiceDate
where Invoices.Id=@Id;
select @@ROWCOUNT as result;
end
GO
USE [master]
GO
